.accrdn_box{
    background-color: white;
    border: 1px solid grey;
   position: relative;
   margin: 10px;
}
.accrdn_btn{
    width: 100%;
    height: 50px;
    text-align: left;
    background-color: skyblue;
    border: none;
}
i{
    position: absolute;
    right: 10px;
}
.texts{
 padding: 10px;
 display: none;
 transition-duration: 0;
}
#para1{
    display: block;
}